trigger:
- main

resources:
- repo: self

variables:
  imageRepo: processor
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: 'nsbprocessorclusterregistry'
        repository: '$(imageRepo)'
        command: 'buildAndPush'
        Dockerfile: '$(Build.SourceDirectory)/Processor/Dockerfile'
        buildContext: '$(Build.Repository.LocalPath)'
        tags: |
          $(tag)
          latest
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Pipeline.Workspace)/s/kubernetes'
        artifact: 'manifests'
        publishLocation: 'pipeline'
- stage: Deploy
  displayName: Deploy to Dev
  dependsOn: Build
  variables:
    ACR_SECRET: k8sacrsecret
  jobs:
    - job: Deploy
      displayName: Deploy to AKS
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: DownloadPipelineArtifact@2
        inputs:
          buildType: 'current'
          artifactName: 'manifests'
          targetPath: '$(Pipeline.Workspace)/manifests'
      # - task: KubernetesManifest@0
      #   inputs:
      #     action: 'createSecret'
      #     kubernetesServiceConnection: 'k8s-nsb-processor'
      #     namespace: 'default'
      #     secretType: 'dockerRegistry'
      #     secretName: '$(ACR_SECRET)'
      #     dockerRegistryEndpoint: 'nsbprocessorclusterregistry'
      - task: KubernetesManifest@0
        inputs:
          action: 'deploy'
          kubernetesServiceConnection: 'k8s-nsb-processor'
          namespace: 'default'
          manifests: |
            $(Pipeline.Workspace)/manifests/processor-deployment.yaml
