name: Docker Compose Actions Workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build the stack
        run: docker-compose up -d

      - name: Test Fronend
        run: docker compose run -p 8081:80 clientui
