name: Docker Compose Actions Workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: |
          docker-compose up -detach --build
          docker run --network nsb-processor_network clientui
      # - name: Test Fronend
      #   run: docker run --network nsb-processor_network clientui
